<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP:Accept-encoding} br
  RewriteCond %{REQUEST_FILENAME}\.br -f
  RewriteRule ^(.*)$ $1.br [QSA,L]
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.br$">
    Header set Content-Encoding br
    Header set Cache-Control "max-age=31536000"
    Header set Content-Type "application/javascript" "Build/*.json" "Build/*.wasm"
    Header set Content-Type "application/octet-stream" "Build/*.data" "Build/*.mem" "Build/*.symbols"
  </FilesMatch>
</IfModule>

# Fallback to index.html for single-page applications
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
